<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>kinetic - Online collaboration for rehabilitation professionals</title>


        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"/>


        <style type="text/css"> 
          .navbar {
              font-weight: 300;
              -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
              box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
          }

          .card .card-body .card-text {
              font-size: .9rem;
              font-weight: 400;
              color: #747373
          }

          .navbar .navbar-toggler {
              border-width: 0;
              outline: 0
          }

          .navbar.navbar-light .navbar-toggler {
              color: #000
          }
        </style>

        <link rel="shortcut icon" href="#" /> <!--For favicon error message-->

          <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap --> <!--This feature below only loads the important bootstrap features, leaving the rest to load afterwards-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    
        
	  	<!-- Custom Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Include Editor style. -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light info-color">
            <a class="navbar-brand" href="#">kinetic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/exercises"><i class="fas fa-dumbbell"></i> Exercises</a>
                </li>
                <% if(currentUser){ %>
                  <li class="nav-item">
                    <a href="/exercises/new" class="nav-link"> <i class="fas fa-plus"></i> New Exercise</a>
                  </li>
                <% } %> 
              </ul>
              <ul class="navbar-nav">
                <% if(!currentUser){ %> 
                  <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                <% } else{ %> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="/profile/<%= currentUser.username %>"><%= currentUser.username %></a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <% } %>
              </ul>
            </div>
          </nav>
          
          <div class="container my-4">
            <% if(error && error.length > 0){ %> 
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <% if(success && success.length > 0){ %> 
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %> 
          </div>
        
        <div class="container mt-4">