<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Kinetic - for rehabilitation professionals</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="/stylesheets/landing.css" rel='stylesheet'>
    </head>
    <body>

            <div class="header-and-buttons">
                <div style="margin-top: 20vh;">
                    <h1 class="titlePage textCenter">Kinetic</h1>
                    <p class="textCenter">Open source sharing platform for rehabilitation professionals</p>
                    <a href="/login" class="buttons">Log In<span></span></a>
                    <a href="/register" class="buttons">Sign Up<span></span></a>
                </div>
                
                <ul class="slideshow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
    </body>
</html>