<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Kinetic - for rehabilitation professionals</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/stylesheets/landing.css" rel='stylesheet'>
</head>

<body>
    <div class="landing-page">
        <div class="landing-page-content">
            <h1 class="title-text text-center">Kinetic</h1>
            <p class="subtitle-text text-center">Open source sharing platform for rehabilitation professionals</p>
            <a href="/login" class="buttons"><span class="landing-page-options">Log In</span></a>
            <a href="/register" class="buttons"><span class="landing-page-options">Sign Up</span></a>
            <a href="/exercises" class="buttons"><span class="landing-page-options">Browse Exercises</span></a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>