.showAlert{
    display: block;
    border: 1px solid darkred ;
    border-radius: 5px; 
    margin: 10px 0;
    background-color: rgb(250, 215, 215);
}

.alertText{
    font-weight: 500;
    color: red;
    margin: 7px auto;
    text-align: center;
}

.hideAlert{
    display: none;
}

#profilePic{
    width: 140px; 
    height: 180px;
    overflow: hidden;
    margin: auto;
}

#bio{
    font-size: 1.2em;
}

iframe{
    touch-action: none;
}