body{
    background: rgba(141, 196, 221, 0.1)
}

.exercise-card-image{
  width: 100%;
  height: 100px;
  object-fit: cover;
  position: relative;
}

@media screen and (max-width: 768px) {
    .exercise-card-image{
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
      }
}

.exercise-info::after{
    content: '\25CF';
    margin: 0 8px;
    font-size: 10px;
    color: #8a92a3;
}

input .search-bar{
    background-color: transparent;
}

.showAlert{
    display: block;
    border: 1px solid darkred ;
    border-radius: 5px; 
    margin: 10px 0;
    background-color: rgb(250, 215, 215);
}

.alertText{
    font-weight: 500;
    color: red;
    margin: 7px auto;
    text-align: center;
}

.hideAlert{
    display: none;
}

#profilePic{
    width: 140px; 
    height: 180px;
    overflow: hidden;
    margin: auto;
}

#bio{
    font-size: 1.2em;
}

iframe{
    touch-action: none;
}

.edit-comment{
    display: none; 
}

.each-comment:hover{
    background-color: blanchedalmond;
}

.user-owner-buttons, .edit-submit-button{
    margin: 0;
}

.user-owner-buttons{
    display: none; 
}

.btn.btn-sm{
    padding: .5rem 0.6rem;
}