<%- include("../partials/header") %>

<div class="row">
    <!-- Exercises the user follows -->
    <div class="col-md-6">
        <h3 class="text-center">Videos</h3>
        <% if(currentUser){ %>
          <button class="btn btn-primary btn-sm mx-auto"><a href="/exercises/new" class="text-light">New Exercise</a></button>
        <% } %> 
        <% exercises.forEach(exercise => { %> 
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="<%= exercise.video %>" allow="autoplay 'none'"></iframe>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><p><%= exercise.name %></p></h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        <% }) %> 
    </div>

    <!-- Top exercises -->
    <div class="col-md-6">
        <h3 class="text-center">Posts</h3>
    </div>
</div>




<%- include("../partials/footer") %>