<%- include("../partials/header") %>

<h1 class="text-center">New exercise</h1>


<div class="row">
    <form class="w-75 m-auto"action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <div class="form-group">
            <label for="image">Images</label>
            <input type="file" name="image" id="image" accept="image/*"> 
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows=5 placeholder="Provide detail about the type of population, what you're targeting, cues, and the usefullness of this exercise..."></textarea>
        </div>
        <div class="form-group">
            <label for="muscle">Primary muscle targeted</label>
            <select class="form-control" name="muscle" id="muscle">
                <option>Soleus</option>
                <option>Gastrocnemius</option>
                <option>Tibialis Anterior</option>
                <option>Sartorius</option>
            </select>
        </div>
            <div id="references">
                
            </div>
            <a class="newRef" href="#">Add Reference</a>
        <div class="form-group">    
            <input class="btn btn-primary w-100" id="submitExercise" type="submit" value="Submit">
        </div>
    </form> 
</div>


<a href="/exercises">Go back</a>



<script>
    var newRefButton = document.querySelector('.newRef');
    var references  = document.querySelector('#references');
    var ref = document.querySelector('.reference-group');  
        
    newRefButton.addEventListener('click', ()=>{
        var div = document.createElement('div');
        div.innerHTML = `
            <div class="form-group">
                <input type="text" name="reference[authors]" placeholder="Surname, Initials., Surname, Initials., Surname, Inials." class="form-control authorName">
            </div>
            <div class="form-group">
                <input type="text" name="reference[title]" placeholder="Title of Article" class="form-control">
            </div>
            <div class="form-group">   
                <input type="text" name="reference[journal]" placeholder="Journal" class="form-control">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" name="reference[year]" placeholder="Year" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" name="reference[edition]" placeholder="Edition" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" name="reference[pageStart]" placeholder="Start Page" class="form-control"> 
                </div>
                <div class="form-group col-md-3">
                    <input type="number" name="reference[pageEnd]" placeholder="End Page" class="form-control">
                </div>
            </div>
        `; 
        references.appendChild(div); 
    }); 
</script>

<%- include("../partials/footer") %>